<br>
<a onmouseover="this.T_WIDTH=116;return escape('Virer joueur');" href="alliance.php?mode=admin&edit=members&kick={id}" onclick="javascript:return confirm('Etes vous sur de vouloir virer ce joueur ?');"><img src="{dpath}pic/abort.gif" border=0 ></a>&nbsp;<a onmouseover="this.T_WIDTH=98;return escape('Attribuer un rang');" href="alliance.php?mode=admin&edit=members&rank={id}"><img src="{dpath}pic/key.gif" border=0></a>
<script src="scripts/wz_tooltip.js" type="text/javascript"></script>